{{#partial "contenido" }}
<div class="inicio-sesion">
    <div class="card text-white bg-dark text-center inicio-sesion-container">
        <div class="card-body inicio-sesion">
            <h5 class="card-title bienvenido">Bienvenido</h5>
            <p class="card-text iniciar-sesion">Iniciar sesi칩n</p>
            <label class="input-label">Email</label>
            <input class="input-style" type="email" placeholder="Ingrese Email"> </input>
            <label class="input-label">Contrase침a</label>
            <input class="input-style" type="password" placeholder="Ingrese Contrase침a"> </input>
            <button class="btn btn-primary" type="button">Iniciar sesi칩n</button>
        </div>
    </div>
</div>
{{/partial}}
{{> templates/base }}